In [1]:
import pandas as pd

In [2]:
bus =  pd.read_csv('business.csv')

In [3]:
user= pd.read_csv('user_data.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
user['friends']=user["friends"].apply(lambda x: str(x).split(','))

In [5]:
user.head()

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,4.03,1,0,1,2,0,0,1,0,1,...,25,"2015,2016,2017",5,"[c78V-rj8NQcQjOI8KP3UEA, alRMgPcngYSCJ5naFRBz...",17,Rashmi,95,84,l6BmjZMeQD3rDxWUbiAiow,2013-10-08 23:11:33
1,3.63,1,0,1,1,0,0,0,0,0,...,16,NaN,4,"[kEBTgDvFX754S68FllfCaA, aB2DynOxNOJK9st2ZeGT...",22,Jenna,33,48,4XChL029mKr5hydo79Ljxg,2013-02-21 22:29:06
2,3.71,0,0,0,0,0,0,1,0,0,...,10,NaN,0,"[4N-HU_T32hLENLntsNKNBg, pSY2vwWLgWfGVAAiKQzM...",8,David,16,28,bc8C_eETBWL0olvFSJJd0w,2013-10-04 00:16:10
3,4.85,0,0,0,1,0,0,0,0,2,...,14,NaN,5,"[RZ6wS38wnlXyj-OOdTzBxA, l5jxZh1KsgI8rMunm-GN...",4,Angela,17,30,dD0gZpBctWGdWo9WlGuhlA,2014-05-22 15:57:30
4,4.08,80,0,80,28,1,1,16,5,57,...,665,"2015,2016,2017,2018",39,"[mbwrZ-RS76V1HoJ0bF_Geg, g64lOV39xSLRZO0aQQ6D...",279,Nancy,361,1114,MM4RJAeH6yuaN8oZDSt0RA,2013-10-23 07:02:50

In [6]:
bus_ny = bus[bus['state']=='NY']

In [7]:
bus_ny.head()

,Unnamed: 0,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
595,595,1038 State Rt 11,"{'Ambience': ""{'touristy': False, 'hipster': F...",Ya-HZZrzMWYSBtGyLajDQg,"Convenience Stores, Hot Dogs, Gas Stations, Bu...",Champlain,"{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'...",1,44.981140,-73.458718,Nathan's Famous,12919,4,4.0,NY
9916,9916,109 Lake St,"{'RestaurantsGoodForGroups': 'True', 'BikePark...",f5Pg89x-2xek78E9KHMhNg,"Coffee & Tea, Sandwiches, Salad, Food, Restaur...",Rouses Point,"{'Tuesday': '7:0-15:0', 'Wednesday': '7:0-15:0...",1,44.993181,-73.364154,Lakeside Coffee,12979,17,4.5,NY
22869,22869,876 State Rt 11,"{'RestaurantsTakeOut': 'True', 'OutdoorSeating...",Uz77JHl5e6zlGa-71-6_dA,"Buffets, Restaurants, Szechuan, Chinese, Canto...",Champlain,"{'Monday': '10:0-23:0', 'Tuesday': '10:0-23:0'...",1,44.979467,-73.444904,China Buffet,12919,4,2.5,NY
27152,27152,1038 Rt 11,"{'HasTV': 'True', 'Alcohol': ""u'none'"", 'Busin...",xkha6iK_PLsUqnFB-CJW5g,"Hot Dogs, Food, Convenience Stores, Gas Statio...",Champlain,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",1,44.982014,-73.459030,Valero,12919,3,2.5,NY
47513,47513,133 Lake St,"{'BikeParking': 'True', 'HasTV': 'False', 'Res...",sY2TrIpQaS8kFDI8GRGS3Q,"Delis, Restaurants",Rouses Point,"{'Monday': '9:0-21:0', 'Tuesday': '9:0-21:0', ...",1,44.992213,-73.363784,Sandy's Deli & Catering,12979,4,3.0,NY

In [8]:
review = pd.read_csv('review.csv')

In [9]:
bus_review = pd.merge(bus_ny,review,how='inner',on='business_id')

In [10]:
bus_review.head()

,Unnamed: 0,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,...,stars_x,state,cool,date,funny,review_id,stars_y,text,useful,user_id
0,595,1038 State Rt 11,"{'Ambience': ""{'touristy': False, 'hipster': F...",Ya-HZZrzMWYSBtGyLajDQg,"Convenience Stores, Hot Dogs, Gas Stations, Bu...",Champlain,"{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'...",1,44.981140,-73.458718,...,4.0,NY,1,2017-04-11 02:31:40,0.0,FoRYaxLqmrifdj1K7CcJBg,4.0,"While in NY for the weekend, my fiancÃ© and I s...",0.0,Jj5ZWgXWg76ENUhNenAijg
1,595,1038 State Rt 11,"{'Ambience': ""{'touristy': False, 'hipster': F...",Ya-HZZrzMWYSBtGyLajDQg,"Convenience Stores, Hot Dogs, Gas Stations, Bu...",Champlain,"{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'...",1,44.981140,-73.458718,...,4.0,NY,2,2017-11-12 05:58:19,2.0,ywKRlx_b6Jif_sF7lyjlfw,3.0,Stopped off for gas and seen a huge sign for c...,1.0,U95wccXN_J8JwA5Ktlu8tw
2,595,1038 State Rt 11,"{'Ambience': ""{'touristy': False, 'hipster': F...",Ya-HZZrzMWYSBtGyLajDQg,"Convenience Stores, Hot Dogs, Gas Stations, Bu...",Champlain,"{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'...",1,44.981140,-73.458718,...,4.0,NY,0,2018-09-30 20:34:24,0.0,25OqS93oUhnLCoJcNvxPKQ,4.0,Staff was extremely nice and helpful. We're tr...,0.0,X4nYQw393Ayc1sKz4-f5Rw
3,595,1038 State Rt 11,"{'Ambience': ""{'touristy': False, 'hipster': F...",Ya-HZZrzMWYSBtGyLajDQg,"Convenience Stores, Hot Dogs, Gas Stations, Bu...",Champlain,"{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'...",1,44.981140,-73.458718,...,4.0,NY,0,2017-01-11 16:29:12,0.0,hdGIPH8X3cxM2Z4q8Vf-Uw,4.0,If you want fast food other than the standard ...,0.0,ynPl8wj-9AEARKPTrv1bmg
4,9916,109 Lake St,"{'RestaurantsGoodForGroups': 'True', 'BikePark...",f5Pg89x-2xek78E9KHMhNg,"Coffee & Tea, Sandwiches, Salad, Food, Restaur...",Rouses Point,"{'Tuesday': '7:0-15:0', 'Wednesday': '7:0-15:0...",1,44.993181,-73.364154,...,4.5,NY,0,2011-11-30 17:47:35,0.0,6bgpPGSYQOL3Bb0AqKtadA,5.0,Lakeside Cafe is THE stop on our bicycle rides...,0.0,zK6oQLTtXFw0OHtObxcBcA

In [11]:
bus_review.pop('stars_x')
bus_review.head()

,Unnamed: 0,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,...,review_count,state,cool,date,funny,review_id,stars_y,text,useful,user_id
0,595,1038 State Rt 11,"{'Ambience': ""{'touristy': False, 'hipster': F...",Ya-HZZrzMWYSBtGyLajDQg,"Convenience Stores, Hot Dogs, Gas Stations, Bu...",Champlain,"{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'...",1,44.981140,-73.458718,...,4,NY,1,2017-04-11 02:31:40,0.0,FoRYaxLqmrifdj1K7CcJBg,4.0,"While in NY for the weekend, my fiancÃ© and I s...",0.0,Jj5ZWgXWg76ENUhNenAijg
1,595,1038 State Rt 11,"{'Ambience': ""{'touristy': False, 'hipster': F...",Ya-HZZrzMWYSBtGyLajDQg,"Convenience Stores, Hot Dogs, Gas Stations, Bu...",Champlain,"{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'...",1,44.981140,-73.458718,...,4,NY,2,2017-11-12 05:58:19,2.0,ywKRlx_b6Jif_sF7lyjlfw,3.0,Stopped off for gas and seen a huge sign for c...,1.0,U95wccXN_J8JwA5Ktlu8tw
2,595,1038 State Rt 11,"{'Ambience': ""{'touristy': False, 'hipster': F...",Ya-HZZrzMWYSBtGyLajDQg,"Convenience Stores, Hot Dogs, Gas Stations, Bu...",Champlain,"{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'...",1,44.981140,-73.458718,...,4,NY,0,2018-09-30 20:34:24,0.0,25OqS93oUhnLCoJcNvxPKQ,4.0,Staff was extremely nice and helpful. We're tr...,0.0,X4nYQw393Ayc1sKz4-f5Rw
3,595,1038 State Rt 11,"{'Ambience': ""{'touristy': False, 'hipster': F...",Ya-HZZrzMWYSBtGyLajDQg,"Convenience Stores, Hot Dogs, Gas Stations, Bu...",Champlain,"{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'...",1,44.981140,-73.458718,...,4,NY,0,2017-01-11 16:29:12,0.0,hdGIPH8X3cxM2Z4q8Vf-Uw,4.0,If you want fast food other than the standard ...,0.0,ynPl8wj-9AEARKPTrv1bmg
4,9916,109 Lake St,"{'RestaurantsGoodForGroups': 'True', 'BikePark...",f5Pg89x-2xek78E9KHMhNg,"Coffee & Tea, Sandwiches, Salad, Food, Restaur...",Rouses Point,"{'Tuesday': '7:0-15:0', 'Wednesday': '7:0-15:0...",1,44.993181,-73.364154,...,17,NY,0,2011-11-30 17:47:35,0.0,6bgpPGSYQOL3Bb0AqKtadA,5.0,Lakeside Cafe is THE stop on our bicycle rides...,0.0,zK6oQLTtXFw0OHtObxcBcA

In [12]:
bus_review.to_csv('dummy_bus.csv')

In [13]:
user[user['user_id']=='Y3q4_O6f-4bdlBd5ZByNWQ']

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
541586,3.21,0,0,0,1,0,0,2,0,0,...,18,NaN,0,"[VKriBUODDKCcDOfmgoeSUQ, v3GtDpHEqqf0mXjIhqK6...",34,Gordon,105,58,Y3q4_O6f-4bdlBd5ZByNWQ,2011-04-23 19:42:51

In [3]:
bus_review = pd.read_csv('dummy_bus.csv')
bus_review.head()

,Unnamed: 0,Unnamed: 0.1,address,attributes,business_id,categories,city,hours,is_open,latitude,...,review_count,state,cool,date,funny,review_id,stars_y,text,useful,user_id
0,0,32107,28 Park St,"{'RestaurantsGoodForGroups': 'True', 'Alcohol'...",WwwYZakdSQM9174gdZdUIA,"Religious Organizations, Sports Bars, Bars, Ni...",Berea,NaN,0,41.367296,...,3,AK,0,6/8/2012 1:24,0,PZjYeBzvyTWD2W2oF51IYQ,1,"It's a disaster in heels, literally. Drunk gir...",0,VKriBUODDKCcDOfmgoeSUQ
1,1,32107,28 Park St,"{'RestaurantsGoodForGroups': 'True', 'Alcohol'...",WwwYZakdSQM9174gdZdUIA,"Religious Organizations, Sports Bars, Bars, Ni...",Berea,NaN,0,41.367296,...,3,AK,0,12/21/2011 0:51,0,ZrKJyG74Ji8S_OTX6PO1GA,3,Very cool dive bar. Stopped in Sunday afternoo...,1,Y3q4_O6f-4bdlBd5ZByNWQ
2,2,32107,28 Park St,"{'RestaurantsGoodForGroups': 'True', 'Alcohol'...",WwwYZakdSQM9174gdZdUIA,"Religious Organizations, Sports Bars, Bars, Ni...",Berea,NaN,0,41.367296,...,3,AK,0,6/20/2012 14:48,1,fQITKK67KAzQIUcs2zTZcw,1,went with a group of 5 and the food and servi...,1,6ay90tzcBoxPsvh2tX_ouw
3,3,83948,"18471 E Queen Creek Rd, Ste 104",NaN,W839iVmIb3dKrU_-eyOhQA,"Education, Tutoring Centers, Educational Services",Queen Creek,"{'Monday': '0:0-0:0', 'Tuesday': '15:0-19:0', ...",1,33.264757,...,4,AK,0,3/5/2017 3:42,0,z7kQR3LayEs3OEDROtQYOQ,5,We have been going here for about 4 months and...,0,9erZeOGsJ_I1RIDctT2rYg
4,4,83948,"18471 E Queen Creek Rd, Ste 104",NaN,W839iVmIb3dKrU_-eyOhQA,"Education, Tutoring Centers, Educational Services",Queen Creek,"{'Monday': '0:0-0:0', 'Tuesday': '15:0-19:0', ...",1,33.264757,...,4,AK,0,4/13/2016 16:34,0,9N_M2Zg2CU0Sq67l8XvJmA,5,My daughter loves going here. We can see a lot...,1,wV1DI4iGGv3zVLNjLm5ngQ

In [ ]:
for b in ['WwwYZakdSQM9174gdZdUIA']:
    for u in bus_review[bus_review['business_id']==b]['user_id']:
        for F in user[user['user_id']==u]['friends']:
            for f in F:
                if f in (bus_review[bus_review['business_id']==b]['user_id']).tolist():
                    df2.append({'friend_id':f,'friend_rating':bus_review[(bus_review['business_id']==b) & (bus_review['user_id']==f)]['stars_y'].item(),'user_id':u,'user_rating':bus_review[(bus_review['business_id']==b) & (bus_review['user_id']==u)]['stars_y'].item()}, ignore_index=True)

In [ ]:
friend_id =[]
user_id =[]
user_rating = []
friend_rating = []
business_id = []
for b in bus_review['business_id']:
    for u in bus_review[bus_review['business_id']==b]['user_id']:
        for F in user[user['user_id']==u]['friends']:
            for f in F:
                if f in (bus_review[bus_review['business_id']==b]['user_id']).tolist():
                    business_id.append(b)
                    friend_id.append(f)
                    user_id.append(u)
                    user_rating.append(bus_review[(bus_review['business_id']==b) & (bus_review['user_id']==u)]['stars_y'].item())
                    friend_rating.append(bus_review[(bus_review['business_id']==b) & (bus_review['user_id']==f)]['stars_y'].item())
dic = {'business_id':business_id,'user_id':user_id,'friend_id':friend_id,'user_rating':user_rating,'friend_rating':friend_rating}
df2 = pd.DataFrame(data=dic)

In [ ]:
user_rating

In [ ]:
#if 'VKriBUODDKCcDOfmgoeSUQ' in bus_review[bus_review['business_id']=='WwwYZakdSQM9174gdZdUIA']['user_id']:
    print ('yes')

In [ ]:
(bus_review[bus_review['business_id']==b]['user_id']).tolist()

In [ ]:
bus_review[(bus_review['business_id']==b) & (bus_review['user_id']=='VKriBUODDKCcDOfmgoeSUQ')]['stars_y'].item()

In [ ]:
#if '6ay90tzcBoxPsvh2tX_ouw' in bus_review[bus_review['business_id']=='WwwYZakdSQM9174gdZdUIA']['user_id'].tolist():
    print('Yes')

In [ ]:
df = pd.DataFrame(columns = ['friend_id','friend_rating','user_id','user_rating'])

In [ ]:
df2 = pd.DataFrame(columns = ['friend_id'])

In [ ]:
f

##

In [ ]:
print('friend:{},user:{}, with rating of {} and user rating {}'.format(f,u,bus_review[(bus_review['business_id']==b) & (bus_review['user_id']==f)]['stars_y'].item(),bus_review[(bus_review['business_id']==b) & (bus_review['user_id']==u)]['stars_y'].item()))

In [ ]:
df.append({'friend_id':f,'friend_rating':bus_review[(bus_review['business_id']==b) & (bus_review['user_id']==f)]['stars_y'].item(),
           'user_id':u,'user_rating':bus_review[(bus_review['business_id']==b) & (bus_review['user_id']==u)]['stars_y'].item()}, ignore_index=True)